
@model IEnumerable<Employee>

@{ 
    ViewBag.Title = "Employee List";
   
}

    <div class="card-deck">
        @foreach (var employee in Model)
        {
        
            var photoPath = "/images/" + (employee.PhotoPath ?? "noimage.jpg");
        
            <div class="card m-3" style="min-width: 18rem; max-width:30.5%;">
                <div class="card-header">
                    <h3>@employee.Name</h3>
                </div>
                <img asp-append-version="true" class="imageThumbnail card-img-top" src="@photoPath" />
                <div class="card-footer text-center">
                    <!--Example of Tag Helper. "View4" is not using TagHelper. Tag Helper help to render correct route. in the situation that
       /[controller]/[action]/ changed to /abcde/[controller]/[action]
        "View" is the latest TagHelper.
        -->
                    <a asp-controller="home" asp-action="details" asp-route-id="@employee.EncryptedId" class="btn btn-primary m-1">View</a>
                    @*<a href = "@Url.Action("details","home",new { id = employee.Id})" class="btn btn-primary">View2</a>
        @Html.ActionLink("View3","details","home",new { id = employee.Id })
        <a href="/home/details/@employee.Id" class="btn btn-primary">View4</a>*@

                    <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
        }
    </div>